* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Colores y fondo general */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff5a5f;
    color: white;
    padding: 15px 20px;
}
  
  
  .logo img {
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.logo a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar {
  background-color: #ff5a5f !important;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.main-content h1 {
    color: #ff5a5f;
    margin-bottom: 15px;
}
  
  /* Titulos de sección */
  .container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilo para el contenedor del mapa */
 /* Estilos para el contenedor del mapa */
.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el iframe dentro del contenedor */
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

  form button.btn {
    background-color: #ff5a5f;
    border: none;
  }
  /* Footer */
  .footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background: #ff5a5f;
    color: white;
    font-size: 0.9em;
}
.footer img{
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
/* Ajustes responsivos adicionales (3 breakpoints: xs, md y lg) */
/* xs: por defecto */
/* md: a partir de 768px */
@media (min-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 1.4rem;
  }
}

/* lg: a partir de 992px */
@media (min-width: 992px) {
  .card-title {
    font-size: 1.35rem;
  }
}
  