*{
    margin: 0px;
    padding: 0px;
    overflow:auto;
    background-color: #eee;
}
.containerdetalles{
    grid-template-areas: "header" "botones" "tabla";
    height: 100vh;
}
.containerdetalles{
    .header{
        grid-area: header;
        text-align: center;
    }
    .tabla:before{
        content: "";
        display: block;
        margin:0px;
        height: 2px;
        width: 100%;
        background-color: #ccc;
    }
    .tabla{
        
        grid-area: tabla;
        display: flexbox;
    }
    table{
        margin: auto;
        border-collapse: collapse;
        width: 80%;
        height: 50%;
        overflow: auto;
        border-left:2px solid #ccc;
        border-right:2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }
    th{
        border: 0px;
        border-bottom: 2px solid #ccc;
        position: sticky;
    }
    td{
        border-bottom: 2px solid #ccc;
        text-align: center;
        padding-top: 2px;
    }
}
.containerindex{
    grid-template-areas: "header" "content";
    height: 100vh;
}

    .header{
        grid-area: header;
        text-align: center;
    }
    .header .a::before,.header .a::after{
        content: "";
        display: block;
        margin:0px;
        height: 2px;
        width: 15%;
        margin: auto;
        background-color: #ccc;
    }
    .content{
        grid-area: content;
        margin-top: 50px;
    }
    .piezas,.pedidos,.detalles, a{
        margin-left: 10px;
        margin-bottom: 20px;
        color: #111;
        text-decoration: none;
        text-align: left;
    }
    .piezas,.pedidos{
        margin: 0px;
    }
    .detalles{
        margin-top: 60px;
        margin-right: 10px;
        text-align: right;
    }
    .botones{
        grid-area: botones;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 20px 0px 0px 0px;
    }
    button{
        width: 100px;
        height: 25px;
        background-color: transparent;
        border: 0px;
        font-size: 1em;
    }
    button:hover{
        width: 90px;
        height: 25px;
        background-color: #ddd;
        border: 0px;
        font-size: 1em;
    }
    button:hover::after{
        content: "";
        display: block;
        margin: 0px;
        height: 2px;
        width: 100%;
        background-color: #bbb;
    }
    .modal{
        margin: auto;
        padding: 20px;
        width: autofit;
        height: autofit;
        background-color: rgba(255, 255, 255, 0.596);
        border: 0px;
    }
    .modal input{
        display: block;
        margin: 5px;
    }
    .modal p{
        display: inline;
    }
    .modal button{
        display: block;
    }
