@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
#root{
    background-color: #282c34;
    min-height: 100vh;
}
*{
    font-family: "Quintessential", serif;
}
#wh100{
    min-height: 100vh;
}
.modal-content{
    background-color: #282c34;
}